<h1 align="center">Segmenting and Clustering Neighborhoods in Bangalore City</h1>

In [2]:
import pandas as pd
import numpy as np
import requests
import time

In [3]:
df = pd.read_csv("all_india_PO_list_without_APS_offices_ver2_lat_long.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154797 entries, 0 to 154796
Data columns (total 15 columns):
officename            154797 non-null object
pincode               154797 non-null int64
officeType            154797 non-null object
Deliverystatus        154797 non-null object
divisionname          154797 non-null object
regionname            154797 non-null object
circlename            154797 non-null object
Taluk                 146488 non-null object
Districtname          154761 non-null object
statename             154761 non-null object
Telephone             23418 non-null object
Related Suboffice     125269 non-null object
Related Headoffice    153987 non-null object
longitude             142 non-null float64
latitude              142 non-null float64
dtypes: float64(2), int64(1), object(12)
memory usage: 17.7+ MB

In [5]:
df.head()

,officename,pincode,officeType,Deliverystatus,divisionname,regionname,circlename,Taluk,Districtname,statename,Telephone,Related Suboffice,Related Headoffice,longitude,latitude
0,Achalapur B.O,504273,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Asifabad,Adilabad,TELANGANA,NaN,Rechini S.O,Mancherial H.O,NaN,NaN
1,Ada B.O,504293,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Asifabad,Adilabad,TELANGANA,NaN,Asifabad S.O,Mancherial H.O,NaN,NaN
2,Adegaon B.O,504307,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Boath,Adilabad,TELANGANA,NaN,Echoda S.O,Adilabad H.O,NaN,NaN
3,Adilabad Collectorate S.O,504001,S.O,Non-Delivery,Adilabad,Hyderabad,Andhra Pradesh,Adilabad,Adilabad,TELANGANA,08732-226703,NaN,Adilabad H.O,NaN,NaN
4,Adilabad H.O,504001,H.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Adilabad,Adilabad,TELANGANA,08732-226738,NaN,NaN,NaN,NaN

In [6]:
df = df[["pincode", "officename", "Districtname", "regionname"]]

In [7]:
df.head()

   pincode                 officename Districtname regionname
0   504273              Achalapur B.O     Adilabad  Hyderabad
1   504293                    Ada B.O     Adilabad  Hyderabad
2   504307                Adegaon B.O     Adilabad  Hyderabad
3   504001  Adilabad Collectorate S.O     Adilabad  Hyderabad
4   504001               Adilabad H.O     Adilabad  Hyderabad

In [8]:
df.dropna(inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154761 entries, 0 to 154796
Data columns (total 4 columns):
pincode         154761 non-null int64
officename      154761 non-null object
Districtname    154761 non-null object
regionname      154761 non-null object
dtypes: int64(1), object(3)
memory usage: 5.9+ MB

In [10]:
bng_df = df[df.regionname.str.contains("Bangalore")].reset_index(drop=True)

In [11]:
bng_df.head()

   pincode                  officename Districtname    regionname
0   560063   A F Station Yelahanka S.O    Bangalore  Bangalore HQ
1   560007                   Agram S.O    Bangalore  Bangalore HQ
2   560007      Air Force Hospital S.O    Bangalore  Bangalore HQ
3   560092            Amruthahalli B.O    Bangalore  Bangalore HQ
4   560024  Anandnagar S.O (Bangalore)    Bangalore  Bangalore HQ

In [12]:
bng_df.shape

(601, 4)

In [13]:
def geocode(postalcode):
    API_KEY = 'dc42f8f1757c17'
    url = 'https://us1.locationiq.com/v1/search.php'
    params = {'key': API_KEY, 'format':'json', 'postalcode':postalcode}
    r = requests.get(url, params=params)
    result = r.json()
    time.sleep(1) # Only 60 requests are allowed per minute so delaying each request by sec 
    print((result[0]['lat'], result[0]['lon']))
    return (result[0]['lat'], result[0]['lon'])

In [14]:
# bng_df['Latitude'] = bng_df['Postcode'].apply(lambda x: geocode(x)[0])

In [15]:
lat = []
lng = []

def lat_lng_list_gen(postalcode):
    lat_lng = geocode(postalcode)
    lat.append(lat_lng[0])
    lng.append(lat_lng[1])

In [100]:
bng_df['pincode'].apply(lambda x: lat_lng_list_gen(x))

('13.1322', '77.3967')
('13.0643', '77.126')
('13.0643', '77.126')
('13.0583', '77.5732')
('12.9714', '77.5481')
('13.0064', '77.3204')
('13.0785', '77.6069')
('13.0064', '77.3204')
('13.0158', '77.6487')
('12.9914', '77.5944')
('13.0083', '77.4543')
('12.9634', '77.6025')
('13.0907', '77.6423')
('12.9985', '77.6044')
('12.9833', '77.5833')
('12.9833', '77.5833')
('13.1322', '77.3967')
('13.0583', '77.5732')
('13.0875', '77.5846')
('12.9914', '77.5944')
('12.9634', '77.6025')
('13.0785', '77.6069')
('12.9833', '77.5833')
('12.9855', '77.6344')
('12.7111', '77.3354')
('12.9855', '77.6344')
('12.9617', '77.6391')
('12.9967', '77.5551')
('12.9914', '77.5944')
('12.7111', '77.3354')
('12.9716', '77.7473')
('13.0643', '77.126')
('13.1322', '77.3967')
('13.4353', '77.5193')
('12.9714', '77.5481')
('13.0643', '77.126')
('12.9979', '77.5861')
('12.9714', '77.5481')
('12.9914', '77.5944')
('12.9944', '77.7164')
('13.0158', '77.6487')
('13.0643', '77.126')
('12.9743', '77.6404')
('13.0875', '77.5846')
('13.0643', '77.126')
('13.0785', '77.6069')
('13.0158', '77.6487')
('12.7111', '77.3354')
('12.9833', '77.5833')
('12.9833', '77.5833')
('12.9833', '77.5833')
('13.0158', '77.6487')
('12.9833', '77.5833')
('13.0583', '77.5732')
('12.7111', '77.3354')
('12.9967', '77.5551')
('12.9855', '77.6344')
('12.9855', '77.6344')
('12.9914', '77.5944')
('13.0096', '77.6374')
('12.9944', '77.7164')
('12.9914', '77.5944')
('12.9855', '77.6344')
('12.9855', '77.6344')
('12.9833', '77.5833')
('12.9833', '77.5833')
('12.9634', '77.6025')
('13.4353', '77.5193')
('12.9833', '77.5833')
('12.9967', '77.5551')
('12.7111', '77.3354')
('12.9855', '77.6344')
('13.0907', '77.6423')
('12.9855', '77.6344')
('13.0875', '77.5846')
('13.0785', '77.6069')
('12.9914', '77.5944')
('12.9967', '77.5551')
('12.9855', '77.6344')
('12.9634', '77.6025')
('13.0104', '77.5806')
('13.0583', '77.5732')
('12.9833', '77.5833')
('13.0785', '77.6069')
('13.0064', '77.3204')
('13.0096', '77.6374')
('13.0643', '77.126')
('13.4353', '77.5193')
('12.9914', '77.5944')
('13.0064', '77.3204')
('12.9914', '77.5944')
('12.9967', '77.5551')
('12.9833', '77.5833')
('13.0064', '77.3204')
('12.9716', '77.7473')
('13.0785', '77.6069')
('13.0785', '77.6069')
('12.9914', '77.5944')
('12.944', '77.6079')
('13.0381', '77.6549')
('13.6401', '77.6156')
('12.9634', '77.6114')
('12.7111', '77.3354')
('12.9299', '77.5523')
('12.9634', '77.6114')
('12.9719', '77.5937')
('12.9833', '77.5833')
('12.9023', '77.6011')
('12.9833', '77.5833')
('12.9079', '77.6285')
('12.9979', '77.5861')
('12.7717', '77.5053')
('12.9079', '77.6285')
('12.8029', '77.7036')
('12.9855', '77.6344')
('12.9604', '77.5673')
('12.8029', '77.7036')
('12.8029', '77.7036')
('12.9979', '77.5861')
('13.1322', '77.3967')
('13.1089', '76.894')
('12.9634', '77.6114')
('12.9714', '77.5481')
('12.9635', '77.4007')
('13.1322', '77.3967')
('12.8458', '77.6727')
('12.9967', '77.5551')
('12.9299', '77.5523')
('12.9023', '77.6011')
('12.9714', '77.5481')
('12.7861', '77.6385')
('12.7861', '77.6385')
('13.0907', '77.6423')
('12.7861', '77.6385')
('12.9833', '77.5833')
('12.9833', '77.5833')
('12.8029', '77.7036')
('12.9057', '77.5617')
('12.9273', '77.5953')
('12.7111', '77.3354')
('12.9967', '77.5551')
('12.7861', '77.6385')
('12.9057', '77.5617')
('12.9833', '77.5833')
('12.7717', '77.5053')
('12.9023', '77.6011')
('12.7861', '77.6385')
('12.9299', '77.5523')
('13.1089', '76.894')
('13.1322', '77.3967')
('13.0381', '77.6549')
('13.0381', '77.6549')
('13.0875', '77.5846')
('12.9057', '77.5617')
('12.7111', '77.3354')
('12.7111', '77.3354')
('12.9967', '77.5551')
('12.9079', '77.6285')
('12.9979', '77.5861')
('12.9833', '77.5833')
('12.9833', '77.5833')
('12.9833', '77.5833')
('12.8029', '77.7036')
('12.9855', '77.6344')
('12.7111', '77.3354')
('12.9833', '77.5833')
('12.9023', '77.6011')
('13.0875', '77.5846')
('12.7111', '77.3354')
('12.9979', '77.5861')
('12.9023', '77.6011')
('12.9506', '77.5952')
('12.9506', '77.5952')
('12.9079', '77.6285')
('12.7717', '77.5053')
('13.0381', '77.6549')
('12.9634', '77.6114')
('13.1322', '77.3967')
('13.1089', '76.894')
('12.7717', '77.5053')
('12.9635', '77.4007')
('13.0907', '77.6423')
('12.7717', '77.5053')
('12.7717', '77.5053')
('12.9833', '77.5833')
('12.9273', '77.5953')
('12.7111', '77.3354')
('12.7717', '77.5053')
('13.0583', '77.5732')
('12.9506', '77.5952')
('12.8458', '77.6727')
('12.9057', '77.5617')
('13.0907', '77.6423')
('12.7111', '77.3354')
('12.9719', '77.5937')
('13.0643', '77.126')
('13.336', '77.6376')
('12.7111', '77.3354')
('13.1876', '77.52')
('13.0064', '77.3204')
('13.0875', '77.5846')
('12.7111', '77.3354')
('12.9879', '77.5625')
('13.0907', '77.6423')
('13.336', '77.6376')
('13.1876', '77.52')
('12.9872', '77.5244')
('12.9847', '77.5491')
('12.9967', '77.5551')
('13.0449', '77.549')
('12.9967', '77.5551')
('12.7111', '77.3354')
('13.0643', '77.126')
('13.1876', '77.52')
('12.7111', '77.3354')
('13.336', '77.6376')
('13.0583', '77.5732')
('12.9979', '77.5861')
('12.975', '77.5489')
('12.9872', '77.5244')
('13.0097', '77.5648')
('12.9979', '77.5861')
('13.0323', '77.5609')
('13.0323', '77.5609')
('12.9801', '77.5113')
('12.7111', '77.3354')
('13.0134', '77.5361')
('12.7111', '77.3354')
('13.0097', '77.5648')
('12.9979', '77.5861')
('12.9979', '77.5861')
('12.9979', '77.5861')
('12.9847', '77.5491')
('12.9847', '77.5491')
('12.9967', '77.5551')
('12.9879', '77.5789')
('13.1876', '77.52')
('13.0875', '77.5846')
('13.0323', '77.5609')
('12.9879', '77.5625')
('13.0097', '77.5648')
('13.0875', '77.5846')
('13.0814', '77.5566')
('13.0064', '77.3204')
('13.0064', '77.3204')
('13.336', '77.6376')
('13.0097', '77.5648')
('12.9872', '77.5244')
('12.9714', '77.5481')
('12.9714', '77.5481')
('13.0366', '77.6218')
('14.2971', '74.6769')
('12.8162', '76.9927')
('12.9669', '76.8409')
('13.5634', '77.0477')
('13.6401', '77.6156')
('12.6928', '76.6886')
('14.2971', '74.6769')
('13.2367', '76.8029')
('13.2466', '77.7118')
('12.9979', '76.9628')
('12.6928', '76.6886')
('12.7111', '77.6956')
('13.6401', '77.6156')
('13.6401', '77.6156')
('13.2466', '77.7118')
('13.4412', '77.4596')
('13.2466', '77.7118')
('12.8254', '76.901')
('12.6928', '76.6886')
('13.4412', '77.4596')
('13.4675', '77.1874')
('13.9795', '76.2717')
('13.5329', '77.2601')
('12.7781', '77.7726')
('12.346', '76.935')
('12.9957', '76.8412')
('13.5634', '77.0477')
('13.0266', '77.1941')
('13.6401', '77.6156')
('12.9669', '76.8409')
('13.1328', '77.6685')
('12.9888', '76.677')
('13.5329', '77.2601')
('13.0516', '77.2642')
('12.913', '76.1619')
('13.1328', '77.6685')
('13.6401', '77.6156')
('13.2367', '76.8029')
('13.9795', '76.2717')
('12.8254', '76.901')
('13.133', '77.9274')
('13.1353', '77.7456')
('12.7111', '77.6956')
('13.1438', '77.6169')
('13.1353', '77.7456')
('13.0366', '77.6218')
('13.0366', '77.6218')
('12.7989', '77.3864')
('13.0266', '77.1941')
('12.7781', '77.7726')
('13.2367', '76.8029')
('13.0266', '77.1941')
('12.9669', '76.8409')
('13.6401', '77.6156')
('13.9795', '76.2717')
('12.9888', '76.677')
('13.1353', '77.7456')
('13.4675', '77.1874')
('12.7111', '77.6956')
('13.0516', '77.2642')
('13.133', '77.9274')
('12.7989', '77.3864')
('12.9669', '76.8409')
('13.426', '76.3786')
('13.426', '76.3786')
('12.9669', '76.8409')
('13.426', '76.3786')
('13.426', '76.3786')
('13.431', '77.3702')
('12.9957', '76.8412')
('13.1438', '77.6169')
('12.346', '76.935')
('14.2971', '74.6769')
('13.0008', '77.1268')
('13.0008', '77.1268')
('12.9979', '76.9628')
('13.2466', '77.7118')
('13.9795', '76.2717')
('13.9795', '76.2717')
('13.4412', '77.4596')
('13.4412', '77.4596')
('13.5329', '77.2601')
('13.7919', '76.6922')
('13.6401', '77.6156')
('13.0514', '77.8528')
('13.5329', '77.2601')
('13.1438', '77.6169')
('13.2367', '76.8029')
('12.9888', '76.677')
('13.0514', '77.8528')
('13.2466', '77.7118')
('12.9888', '76.677')
('12.8254', '76.901')
('12.9247', '77.6496')
('12.7989', '77.3864')
('14.2971', '74.6769')
('12.9888', '76.677')
('14.058', '75.7305')
('12.6928', '76.6886')
('13.6401', '77.6156')
('12.9669', '76.8409')
('12.9957', '76.8412')
('13.4675', '77.1874')
('13.2367', '76.8029')
('12.9957', '76.8412')
('13.2032', '76.9603')
('13.0366', '77.6218')
('12.7111', '77.6956')

('13.0516', '77.2642')
('13.4412', '77.4596')
('12.913', '76.1619')
('14.2971', '74.6769')
('14.058', '75.7305')
('12.8317', '76.4634')
('13.4412', '77.4596')
('13.2367', '76.8029')
('12.9247', '77.6496')
('12.9669', '76.8409')
('12.8317', '76.4634')
('12.346', '76.935')
('13.431', '77.3702')
('12.9957', '76.8412')
('13.0514', '77.8528')
('14.058', '75.7305')
('13.2466', '77.7118')
('13.9795', '76.2717')
('12.7989', '77.3864')
('14.2971', '74.6769')
('13.2367', '76.8029')
('13.133', '77.9274')
('12.6928', '76.6886')
('13.4675', '77.1874')
('13.0366', '77.6218')
('12.346', '76.935')
('14.2971', '74.6769')
('13.2367', '76.8029')
('13.4412', '77.4596')
('13.0514', '77.8528')
('13.0514', '77.8528')
('12.7989', '77.3864')
('12.8162', '76.9927')
('13.5329', '77.2601')
('12.9979', '76.9628')
('12.9888', '76.677')
('13.1438', '77.6169')
('13.2367', '76.8029')
('13.2367', '76.8029')
('12.9979', '76.9628')
('13.1353', '77.7456')
('12.6928', '76.6886')
('13.6401', '77.6156')
('12.7111', '77.6956')
('12.7989', '77.3864')
('13.0514', '77.8528')
('12.6928', '76.6886')
('13.4675', '77.1874')
('12.9957', '76.8412')
('13.6401', '77.6156')
('13.2466', '77.7118')
('13.0514', '77.8528')
('12.7989', '77.3864')
('13.133', '77.9274')
('12.346', '76.935')
('13.0008', '77.1268')
('12.346', '76.935')
('13.5329', '77.2601')
('13.5329', '77.2601')
('12.9957', '76.8412')
('13.6401', '77.6156')
('12.9669', '76.8409')
('14.2971', '74.6769')
('12.913', '76.1619')
('12.9669', '76.8409')
('12.9669', '76.8409')
('13.9795', '76.2717')
('14.2971', '74.6769')
('14.2971', '74.6769')
('13.4412', '77.4596')
('12.7989', '77.3864')
('13.4412', '77.4596')
('13.2466', '77.7118')
('13.1328', '77.6685')
('13.0366', '77.6218')
('13.0266', '77.1941')
('12.9957', '76.8412')
('13.5634', '77.0477')
('13.0514', '77.8528')
('13.0514', '77.8528')
('12.9669', '76.8409')
('13.0008', '77.1268')
('12.6928', '76.6886')
('13.4412', '77.4596')
('13.2367', '76.8029')
('13.0266', '77.1941')
('13.2367', '76.8029')
('13.5329', '77.2601')
('13.7919', '76.6922')
('13.0514', '77.8528')
('12.9957', '76.8412')
('13.4412', '77.4596')
('12.8254', '76.901')
('13.133', '77.9274')
('14.2971', '74.6769')
('13.6401', '77.6156')
('13.426', '76.3786')
('12.8162', '76.9927')
('12.9247', '77.6496')
('13.9795', '76.2717')
('13.0514', '77.8528')
('13.2466', '77.7118')
('14.2971', '74.6769')
('13.6401', '77.6156')
('13.0366', '77.6218')
('13.0516', '77.2642')
('13.6401', '77.6156')
('13.0514', '77.8528')
('13.9795', '76.2717')
('13.5634', '77.0477')
('12.9979', '76.9628')
('13.426', '76.3786')
('13.5634', '77.0477')
('13.4675', '77.1874')
('12.9979', '76.9628')
('12.9979', '76.9628')
('13.0516', '77.2642')
('12.9669', '76.8409')
('13.4675', '77.1874')
('13.0366', '77.6218')
('12.9979', '76.9628')
('14.2971', '74.6769')
('13.4675', '77.1874')
('13.4412', '77.4596')
('12.913', '76.1619')
('13.426', '76.3786')
('12.8317', '76.4634')
('12.7989', '77.3864')
('12.7989', '77.3864')
('13.431', '77.3702')
('13.4675', '77.1874')
('13.0366', '77.6218')
('13.7919', '76.6922')
('13.0516', '77.2642')
('13.9795', '76.2717')
('12.913', '76.1619')
('14.2971', '74.6769')
('12.8162', '76.9927')
('13.426', '76.3786')
('13.0516', '77.2642')
('14.2971', '74.6769')
('12.7111', '77.6956')
('12.9979', '76.9628')
('12.9669', '76.8409')
('12.8317', '76.4634')
('12.7781', '77.7726')
('12.8162', '76.9927')
('12.9957', '76.8412')
('14.058', '75.7305')
('13.0366', '77.6218')
('13.0516', '77.2642')
('13.426', '76.3786')
('13.0514', '77.8528')
('13.2367', '76.8029')
('13.4675', '77.1874')
('13.426', '76.3786')
('12.8254', '76.901')
('13.0366', '77.6218')
('13.133', '77.9274')
('13.0516', '77.2642')
('13.9795', '76.2717')
('14.2971', '74.6769')
('13.431', '77.3702')
('13.4675', '77.1874')
('13.133', '77.9274')
('12.7781', '77.7726')
('12.6928', '76.6886')
('12.9247', '77.6496')
('13.7919', '76.6922')
('13.7919', '76.6922')
('13.5329', '77.2601')
('13.4412', '77.4596')
('13.6401', '77.6156')
('13.5329', '77.2601')
('13.426', '76.3786')
('13.1353', '77.7456')
('13.2466', '77.7118')
('13.5329', '77.2601')
('12.7111', '77.6956')
('12.9888', '76.677')
('12.9247', '77.6496')
('13.5329', '77.2601')
('12.9669', '76.8409')
('12.346', '76.935')
('12.7989', '77.3864')
('13.426', '76.3786')
('13.9795', '76.2717')
('14.2971', '74.6769')
('12.9979', '76.9628')
('13.133', '77.9274')
('12.8254', '76.901')
('12.7111', '77.6956')
('12.6928', '76.6886')
('12.8162', '76.9927')
('12.6928', '76.6886')
('13.0008', '77.1268')
('13.0516', '77.2642')
('13.0008', '77.1268')
('13.4412', '77.4596')
('12.8162', '76.9927')
('12.8317', '76.4634')
('13.1353', '77.7456')
('13.426', '76.3786')
('13.5329', '77.2601')
('12.9957', '76.8412')
('13.426', '76.3786')
('13.1438', '77.6169')
('12.9957', '76.8412')
('13.133', '77.9274')
('13.0008', '77.1268')
('13.4675', '77.1874')
('12.913', '76.1619')
('12.9669', '76.8409')
('12.7111', '77.6956')
('13.5634', '77.0477')
('12.9888', '76.677')
('13.4412', '77.4596')
('14.2971', '74.6769')
('14.058', '75.7305')
('14.2971', '74.6769')
('13.7919', '76.6922')
('13.0516', '77.2642')
('13.2466', '77.7118')
('12.7989', '77.3864')
('13.0514', '77.8528')
('12.7111', '77.6956')
('12.8254', '76.901')
('13.5634', '77.0477')
('13.0266', '77.1941')
('14.2971', '74.6769')
('13.1438', '77.6169')
('13.431', '77.3702')
('12.6928', '76.6886')
('13.2466', '77.7118')
('14.2971', '74.6769')
('12.7781', '77.7726')
('13.9795', '76.2717')
('12.6928', '76.6886')
('13.2466', '77.7118')
('13.0516', '77.2642')
('13.4675', '77.1874')
('13.6401', '77.6156')

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
571    None
572    None
573    None
574    None
575    None
576    None
577    None
578    None
579    None
580    None
581    None
582    None
583    None
584    None
585    None
586    None
587    None
588    None
589    None
590    None
591    None
592    None
593    None
594    None
595    None
596    None
597    None
598    None
599    None
600    None
Name: pincode, Length: 601, dtype: object

In [103]:
bng_df['Latitude'] = lat

In [104]:
bng_df['Longtude'] = lng

In [105]:
bng_df.head()

,pincode,officename,Districtname,regionname,Latitude,Longtude
0,560063,A F Station Yelahanka S.O,Bangalore,Bangalore HQ,13.1322,77.3967
1,560007,Agram S.O,Bangalore,Bangalore HQ,13.0643,77.126
2,560007,Air Force Hospital S.O,Bangalore,Bangalore HQ,13.0643,77.126
3,560092,Amruthahalli B.O,Bangalore,Bangalore HQ,13.0583,77.5732
4,560024,Anandnagar S.O (Bangalore),Bangalore,Bangalore HQ,12.9714,77.5481

In [106]:
bng_df.to_csv("bangalore.csv", index=False)